/* Style the title-bar class to be grey
and horizontal across the top of the page */
.title-bar {
  background-color: #333;
  color: white;
  padding: 15px;
  /* text-align: center; */
  font-family: sans-serif;
}

body {
  /* There is padding in between the title bar and the
   * side/top of the page if you don't set this to 0 */
  margin: 0;
}

/* Put some padding between the title-bar
and the page-body */
.page-body {
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  max-width: 200px; /* set a max-width for the container as a percentage */
  margin: 0 auto; /* center the container horizontally */
}

/* TODO: Ask why we need this */
.grid-container img {
  width: 100%;
  height: auto;
}